@import "styles/variables"

.basicInfoBlock
  padding-top: 54px
  padding-left: 60px
  padding-right: 60px
  padding-bottom: 30px
  @include sm
    padding-top: 30px

.borderBottom
  border-bottom: 1px solid #e3e4e8

.Label
  font-weight: 500
  color: #73738b
  position: relative
  font-size: 13px
  transform: none
  margin-bottom: 9px

.Select
  margin-top: 9px
  & > div:first-child, & > div:nth-child(2)
    height: 52px

