@import "../../../../styles/variables"

@mixin column($size, $align: flex-start)
  width: 100%
  max-width: $size
  @include flex-fill(row, center, $align)

@mixin row
  width: 100%
  height: 65px
  @include flex-fill(row, center, space-between)

.content
  width: 100%
  @include flex-fill(column, center, flex-start)

  .headerContainer
    @include row

    .label
      color: $middleGreyFont
      font-size: 14px

  .itemContainer
    border-top: 1px solid $searchBg
    @include row

    .value
      font-size: 13px

  .columnOrderId
    @include column(80px)    

  .columnDeliveryLeg
    @include column(80px)
  
  .columnDestination
    @include column(140px)

  .columnPrice
    @include column(80px)

  .columnAction 
    @include column(80px)
    justify-content: flex-end

  .columnStatus
    @include column(120px)

    .itemStatus
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: grey
      margin-right: 8px 

    .progress
      background-color: #72ccff

    .completed
      background-color: #83e363

    .assigned
      background-color: #a889ff

.totalContainer
  @include flex-fill(column, flex-end, flex-start)
  
  .label
    color: $secondGreyFont
    font-size: 14px

  .value
    font-size: 18px
    font-weight: 500

.emptyMessage
  width: 100%
  padding: 5px
  font-size: 15px
  @include flex-fill()
