@import "../../../../../../styles/variables"

.box
  display: flex
  flex-direction: column
  align-items: center

  .divider
    width: 2px
    height: 15px
    margin: 9px 0
    background-color: #E5E5EA

  .circle
    width: 12px
    height: 12px
    border: 2px solid #fff
    border-radius: 50%

  .created
    border-color: #798c9e

  .started
    border-color: #72ccff
    background-color: #72ccff

  .completed
    border-color: #83e363
    background-color: #83e363

  .pending
    background-color: #006cf0
    border-color: #006cf0

  .proccessed
    background-color: #ffcb72
    border-color: #ffcb72

  .unassigned
    background-color: #adb9c4
    border-color: #adb9c4

  .assigned
    background-color: #a889ff
    border-color: #a889ff

  .active
    background-color: #72ccff
    border-color: #72ccff

  .completed
    background-color: #83e363
    border-color: #83e363

  .canceled
    background-color: #536270
    border-color: #536270

  .failed
    background-color: #ff7272
    border-color: #ff7272
