@import "../../styles/variables"

.adminSettingsWrapper
    background: $greyBg
    padding: 30px
    overflow: auto

    margin-left:auto
    margin-right:auto
    
    width: 100%

    .contentWrapper
        width: 684px
        height: 772px
        background: #FFFFFF
        border-radius: 5px
        margin: auto
        margin-top: 5%

        .upperWrapper
            @include flex
            justify-content: space-around
            height: 70%

            .leftWrapper
                width: 50%
                
                .profile
                    height: 38px

                    font-family: Work Sans
                    font-style: normal
                    font-weight: 500
                    font-size: 32px
                    line-height: 38px

                    margin-top: 36px
                    margin-left: 48px

                .imageWrapper
                    width: 200px
                    margin-top: 52px
                    margin-left: 84px

                    .imageInput
                        display: none
                    .imageHolder
                        border-radius: 50%
                        width: 90px
                        height: 90px
                        display: block
                        margin: auto
                        .image
                            width: 100%
                        .defaultImage
                            width: 100%
                            margin-top: 35px
                            
                    
                    .uploadLabel
                        background: Transparent
                        background-repeat:no-repeat
                        overflow: hidden
                        color: #006CF0
                        border-color: #006CF0
                        border-radius: 5px
                        display: inline-block
                        margin: auto
                        height: 34px
                        width: 147px
                        margin-top: 24px
                        text-align: center
                        line-height: 250%;
                        box-shadow: inset 0 0 0.2em, 0.2em 0.2em 0.2em rgba( 0, 0, 0, 0.3 )
                        &:hover
                            background: $greyLightBg
                            cursor: pointer
                    
                    .delete
                        font-family: Work Sans
                        font-style: normal
                        font-weight: 500
                        font-size: 12px
                        line-height: 14px
                        text-decoration: underline
                        color: #006CF0
                        display: grid
                        margin: auto
                        margin-top: 14px
                        justify-content: center

                        &:hover 
                            cursor: pointer

            .inputsWrapper
                @include flex 
                width: 50%
                height: 60%
                justify-content: space-between
                flex-direction: column
                margin-top: 10%

                .inputWrapper
                    width: 100%
                    margin-top: 20px
                    
                    .inputTitle
                        font: Work Sans
                        font-style: normal
                        font-weight: 500
                        font-size: 13px
                        line-height: 15px

                        color: #536270

                    .input
                        border: 1px solid #D2D3D5
                        box-sizing: border-box
                        border-radius: 3px
                        width: 80%
                        height: 52px
                        margin-top: 10px
                    
        .lowerWrapper
            @include flex 
            flex-direction: column

            height: 30%
            

            .timezoneWrapper
                justify-content: space-between
                @include flex 
                flex-direction: column
                height: 119px

                .lineTop
                    position: relative
                    width: 514px
                    height: 2px
                    border-bottom: 1px solid lightgrey
                    margin-left: 84px


                .titleAndTimezone
                    outline:none
                    margin: auto
                    margin-top: 2%
                    width: 40%

                    .title
                        font-family: Work Sans
                        font-style: normal
                        font-weight: 500
                        font-size: 13px
                        line-height: 15px
                        color: #536270

                    .timezone
                        box-sizing: border-box
                        width: 100%
                        margin-top: 5px
                        background-color: #FFFFFF
                        border: 1px solid #D2D3D5;
                        border-radius: 5px
                        background-repeat:no-repeat
                        height: 50px



                .lineDown

                    width: 514px
                    height: 2px
                    border-bottom: 1px solid lightgrey
                    margin-left: 84px
                    margin-top: 24px


            .labelAndButtonWrapper
                width: 100%
                @include flex
                justify-content: space-around

                .labelWrapper
                    width: 425px
                    .successLabel
                        font: Work Sans
                        font-size: 12px
                        background: rgba(200, 255, 170, 0.25)
                        background-repeat:no-repeat
                        overflow: hidden
                        color: green
                        border: 1px solid #7FCA56
                        border-radius: 4px
                        display: inline-block
                        margin: auto
                        height: 52px
                        width: 320px
                        text-align: center
                        line-height: 50px
                        margin-top: 24px
                        margin-left: 88px

                .buttonWrapper
                    width: 259px

                    .updateButton
                        display: block
                        background-color: #006CF0
                        background-repeat:no-repeat
                        overflow: hidden
                        outline:none
                        color: white
                        border-color: #006CF0
                        border-radius: 5px
                        border-weight: 10
                        height: 50px
                        width: 175px
                        
                        margin-top: 24px
                        &:hover
                            background: blue
                            cursor: pointer

            




    